<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ppc_btn_apply_list_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,620},{99,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,103}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>ppc_btn_apply_list_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,279},{99,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,103}}</string>
                <key>sourceSize</key>
                <string>{99,103}</string>
            </dict>
            <key>ppc_btn_apply_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,443},{176,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,61}}</string>
                <key>sourceSize</key>
                <string>{178,61}</string>
            </dict>
            <key>ppc_btn_apply_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,385},{176,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,61}}</string>
                <key>sourceSize</key>
                <string>{178,61}</string>
            </dict>
            <key>ppc_btn_cancel_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,380},{176,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,61}}</string>
                <key>sourceSize</key>
                <string>{178,61}</string>
            </dict>
            <key>ppc_btn_cancel_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,216},{176,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,61}}</string>
                <key>sourceSize</key>
                <string>{178,61}</string>
            </dict>
            <key>ppc_btn_closed_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,129},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>ppc_btn_closed_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,85},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>ppc_btn_down_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,216},{176,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,61}}</string>
                <key>sourceSize</key>
                <string>{178,61}</string>
            </dict>
            <key>ppc_btn_down_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,216},{176,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,61}}</string>
                <key>sourceSize</key>
                <string>{178,61}</string>
            </dict>
            <key>ppc_btn_no_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{111,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,47}}</string>
                <key>sourceSize</key>
                <string>{111,47}</string>
            </dict>
            <key>ppc_btn_no_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,580},{111,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,47}}</string>
                <key>sourceSize</key>
                <string>{111,47}</string>
            </dict>
            <key>ppc_btn_ok_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,531},{111,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,47}}</string>
                <key>sourceSize</key>
                <string>{111,47}</string>
            </dict>
            <key>ppc_btn_ok_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,638},{111,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,47}}</string>
                <key>sourceSize</key>
                <string>{111,47}</string>
            </dict>
            <key>ppc_btn_quit_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,569},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{71,61}</string>
            </dict>
            <key>ppc_car.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{70,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,33}}</string>
                <key>sourceSize</key>
                <string>{70,33}</string>
            </dict>
            <key>ppc_car_logo_benz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>ppc_car_logo_bmw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>ppc_car_logo_porsche.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{54,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{54,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>ppc_car_logo_vw.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,892},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,67}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>ppc_chip_disable_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,531},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>ppc_chip_disable_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,637},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>ppc_chip_disable_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,562},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>ppc_chip_disable_1k.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,562},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>ppc_chip_disable_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,506},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>ppc_chip_disable_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,523},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>ppc_chip_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,183},{111,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,110}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>ppc_chip_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,448},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>ppc_chip_normal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,448},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>ppc_chip_normal_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,409},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>ppc_chip_normal_1k.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,523},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>ppc_chip_normal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,408},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>ppc_chip_normal_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,295},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>ppc_clock_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,687},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>ppc_dialog_apply_list_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{667,81}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{667,81}}</string>
                <key>sourceSize</key>
                <string>{675,81}</string>
            </dict>
            <key>ppc_dialog_apply_list_item_face_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,823},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>ppc_dialog_apply_list_item_face_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>ppc_face_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,629},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>ppc_face_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,645},{97,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>ppc_logo_big_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,506},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{61,61}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>ppc_logo_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,632},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>ppc_logo_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{59,61}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>ppc_logo_small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,385},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{61,61}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>ppc_table_area_light_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,405},{238,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{238,124}}</string>
                <key>sourceSize</key>
                <string>{240,124}</string>
            </dict>
            <key>ppc_table_area_light_bottom_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,279},{238,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{238,124}}</string>
                <key>sourceSize</key>
                <string>{240,124}</string>
            </dict>
            <key>ppc_table_area_light_bottom_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{238,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,124}}</string>
                <key>sourceSize</key>
                <string>{240,124}</string>
            </dict>
            <key>ppc_table_area_light_top_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{238,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{238,124}}</string>
                <key>sourceSize</key>
                <string>{240,124}</string>
            </dict>
            <key>ppc_table_area_light_top_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,259},{238,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{238,124}}</string>
                <key>sourceSize</key>
                <string>{240,124}</string>
            </dict>
            <key>ppc_table_area_light_top_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,133},{238,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{238,124}}</string>
                <key>sourceSize</key>
                <string>{240,124}</string>
            </dict>
            <key>ppc_tips_bet_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,216},{107,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,32}}</string>
                <key>sourceSize</key>
                <string>{107,32}</string>
            </dict>
            <key>ppc_tips_idle_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,173},{107,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,32}}</string>
                <key>sourceSize</key>
                <string>{107,32}</string>
            </dict>
            <key>ppc_tips_lottery_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,74},{107,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,32}}</string>
                <key>sourceSize</key>
                <string>{107,32}</string>
            </dict>
            <key>ppc_tips_none_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,85},{311,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,129}}</string>
                <key>sourceSize</key>
                <string>{311,129}</string>
            </dict>
            <key>ppc_tips_officeholding_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{311,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,129}}</string>
                <key>sourceSize</key>
                <string>{311,129}</string>
            </dict>
            <key>ppc_tips_turn_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{311,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,129}}</string>
                <key>sourceSize</key>
                <string>{311,129}</string>
            </dict>
            <key>ppc_travel_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ppc_res.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2ca9141322e5bdbec76e9e07d6d5ece$</string>
            <key>textureFileName</key>
            <string>ppc_res.png</string>
        </dict>
    </dict>
</plist>
