<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>refresh01.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,866},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>refresh02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>refresh03.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,758},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>refresh04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>refresh05.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,650},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>refresh06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>refresh07.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,542},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>refresh08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>refresh09.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,434},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>refresh10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>refresh11.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,326},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>refresh12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>refresh13.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,218},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>refresh14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>refresh15.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,110},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>refresh16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>refresh17.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
            <key>refresh18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,117}}</string>
                <key>sourceSize</key>
                <string>{106,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>refresh.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a00b434f11dd5b3f4762ca9fddc0d149$</string>
            <key>textureFileName</key>
            <string>refresh.png</string>
        </dict>
    </dict>
</plist>
