<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,103},{45,18}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{45,18}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>BJL_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{640,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,72}}</string>
                <key>sourceSize</key>
                <string>{640,72}</string>
            </dict>
            <key>BJL_04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,72}}</string>
                <key>sourceSize</key>
                <string>{640,72}</string>
            </dict>
            <key>BJL_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,566},{467,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,126}}</string>
                <key>sourceSize</key>
                <string>{467,126}</string>
            </dict>
            <key>BJL_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,358},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BJL_07_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,440},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BJL_07_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,358},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BJL_07_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,463},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BJL_07_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,463},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BJL_07_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BJL_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,615},{56,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,80}}</string>
                <key>sourceSize</key>
                <string>{56,80}</string>
            </dict>
            <key>BJL_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,749},{180,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{180,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>BJL_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,697},{180,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{180,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>BJL_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,697},{180,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{180,50}}</string>
                <key>sourceSize</key>
                <string>{182,50}</string>
            </dict>
            <key>BJL_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,566},{107,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,30}}</string>
                <key>sourceSize</key>
                <string>{107,30}</string>
            </dict>
            <key>BJL_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{107,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,30}}</string>
                <key>sourceSize</key>
                <string>{107,30}</string>
            </dict>
            <key>BJL_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,506},{107,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,30}}</string>
                <key>sourceSize</key>
                <string>{107,30}</string>
            </dict>
            <key>BJL_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,801},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>BJL_17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,801},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>BJL_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,901},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BJL_18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,922},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>BJL_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,922},{75,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>BJL_20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,922},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>BJL_20_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,922},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>BJL_20_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,922},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>BJL_20_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,922},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>BJL_20_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>BJL_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{482,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,305}}</string>
                <key>sourceSize</key>
                <string>{482,305}</string>
            </dict>
            <key>BJL_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,244},{260,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,35}}</string>
                <key>sourceSize</key>
                <string>{260,35}</string>
            </dict>
            <key>BJL_24_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1005},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>BJL_24_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,506},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>BJL_24_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1005},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>SCORE_BACK.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,224},{40,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,18}}</string>
                <key>sourceSize</key>
                <string>{40,18}</string>
            </dict>
            <key>btn_cancle.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,697},{194,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,70}}</string>
                <key>sourceSize</key>
                <string>{194,70}</string>
            </dict>
            <key>btn_cancle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,697},{194,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,70}}</string>
                <key>sourceSize</key>
                <string>{194,70}</string>
            </dict>
            <key>btn_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,697},{194,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,70}}</string>
                <key>sourceSize</key>
                <string>{194,70}</string>
            </dict>
            <key>btn_confirm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,697},{194,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,70}}</string>
                <key>sourceSize</key>
                <string>{194,70}</string>
            </dict>
            <key>cm_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,358},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>cm_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,254},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>cm_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>cm_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>cm_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,254},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>cm_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,254},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>cm_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,150},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>cm_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>cm_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,150},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>cm_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,150},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>cm_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,150},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>cm_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,879},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>cm_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,893},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>cm_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,893},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>cm_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,893},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>font_dai.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,150},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>font_deng.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,851},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>font_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>font_qi.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,801},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>font_ta.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,52},{49,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,46}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>font_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,123},{49,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>font_zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,174},{43,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{43,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>task_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{562,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,329}}</string>
                <key>sourceSize</key>
                <string>{562,329}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardtable.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f94a40223b3dae448c6c82ba0378815$</string>
            <key>textureFileName</key>
            <string>cardtable.png</string>
        </dict>
    </dict>
</plist>
