<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brnn_apply_list_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{590,3}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{590,3}}</string>
                <key>sourceSize</key>
                <string>{590,81}</string>
            </dict>
            <key>brnn_apply_list_item_face_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1035},{72,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>brnn_apply_list_item_face_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1089},{72,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>brnn_apply_list_title_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1119},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,30}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>brnn_apply_list_title_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1054},{63,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{63,31}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>brnn_apply_list_title_nickname.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1087},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,30}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>brnn_bet_area_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,592},{284,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,396}}</string>
                <key>sourceSize</key>
                <string>{284,396}</string>
            </dict>
            <key>brnn_bet_area_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{302,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,415}}</string>
                <key>sourceSize</key>
                <string>{302,415}</string>
            </dict>
            <key>brnn_bet_area_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{284,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,396}}</string>
                <key>sourceSize</key>
                <string>{284,396}</string>
            </dict>
            <key>brnn_bet_area_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{284,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,396}}</string>
                <key>sourceSize</key>
                <string>{284,396}</string>
            </dict>
            <key>brnn_bet_area_self_value_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,878},{197,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{197,38}}</string>
                <key>sourceSize</key>
                <string>{199,42}</string>
            </dict>
            <key>brnn_bet_area_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,306},{284,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,396}}</string>
                <key>sourceSize</key>
                <string>{284,396}</string>
            </dict>
            <key>brnn_btn_apply_list_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1175},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>brnn_btn_apply_list_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1175},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>brnn_btn_apply_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1175},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>brnn_btn_apply_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1156},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>brnn_btn_cancel_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1090},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>brnn_btn_cancel_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1090},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>brnn_btn_down_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1090},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>brnn_btn_down_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>brnn_btn_no_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,306},{130,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,44}}</string>
                <key>sourceSize</key>
                <string>{136,46}</string>
            </dict>
            <key>brnn_btn_no_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,55},{129,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,46}}</string>
                <key>sourceSize</key>
                <string>{129,46}</string>
            </dict>
            <key>brnn_btn_ok_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,712},{130,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,45}}</string>
                <key>sourceSize</key>
                <string>{136,47}</string>
            </dict>
            <key>brnn_btn_ok_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,7},{129,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,46}}</string>
                <key>sourceSize</key>
                <string>{129,46}</string>
            </dict>
            <key>brnn_btn_quit_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1005},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>brnn_btn_quit_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1005},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>brnn_btn_travel_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1280},{95,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{95,83}}</string>
                <key>sourceSize</key>
                <string>{99,89}</string>
            </dict>
            <key>brnn_btn_travel_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1280},{95,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{95,83}}</string>
                <key>sourceSize</key>
                <string>{99,89}</string>
            </dict>
            <key>brnn_card_type_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,878},{78,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,52}}</string>
                <key>sourceSize</key>
                <string>{78,52}</string>
            </dict>
            <key>brnn_card_type_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,559},{199,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,54}}</string>
                <key>sourceSize</key>
                <string>{199,54}</string>
            </dict>
            <key>brnn_card_type_goldniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,844},{78,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,39}}</string>
                <key>sourceSize</key>
                <string>{78,45}</string>
            </dict>
            <key>brnn_card_type_meiniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,932},{76,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,38}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>brnn_card_type_niu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1050},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>brnn_card_type_niu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1011},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>brnn_card_type_niu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,996},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>brnn_card_type_niu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,957},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>brnn_card_type_niu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,918},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>brnn_card_type_niu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,978},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>brnn_card_type_niu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,972},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>brnn_card_type_niu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,997},{72,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>brnn_card_type_niu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,923},{72,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>brnn_card_type_niuniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,622},{88,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,50}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>brnn_card_type_silverniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,542},{78,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,39}}</string>
                <key>sourceSize</key>
                <string>{78,45}</string>
            </dict>
            <key>brnn_chip_disable_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1163},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>brnn_chip_disable_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1152},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>brnn_chip_disable_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1112},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>brnn_chip_disable_1k.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1039},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>brnn_chip_disable_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1035},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>brnn_chip_disable_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,995},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>brnn_chip_disable_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,922},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>brnn_chip_disable_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,918},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>brnn_chip_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1229},{111,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,110}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>brnn_chip_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,878},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>brnn_chip_normal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,805},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>brnn_chip_normal_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,688},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>brnn_chip_normal_1k.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,571},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>brnn_chip_normal_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,454},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>brnn_chip_normal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,337},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>brnn_chip_normal_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,220},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>brnn_chip_normal_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,103},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>brnn_clock_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,433},{56,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>brnn_face_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1269},{86,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,91}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>brnn_face_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1241},{86,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,91}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>brnn_face_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1175},{86,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,91}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>brnn_setting_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1005},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>brnn_setting_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1005},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>brnn_tips_bet_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1249},{96,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,27}}</string>
                <key>sourceSize</key>
                <string>{96,27}</string>
            </dict>
            <key>brnn_tips_idle_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1151},{97,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,27}}</string>
                <key>sourceSize</key>
                <string>{97,27}</string>
            </dict>
            <key>brnn_tips_none_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{459,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{459,140}}</string>
                <key>sourceSize</key>
                <string>{463,144}</string>
            </dict>
            <key>brnn_tips_officeholding_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{459,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{459,140}}</string>
                <key>sourceSize</key>
                <string>{463,144}</string>
            </dict>
            <key>brnn_tips_open_card_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1151},{96,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,27}}</string>
                <key>sourceSize</key>
                <string>{96,27}</string>
            </dict>
            <key>brnn_tips_turn_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{459,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{459,140}}</string>
                <key>sourceSize</key>
                <string>{463,144}</string>
            </dict>
            <key>brnn_travel_icon_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,760},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>brnn_travel_icon_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,496},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>brnn_travel_icon_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,869},{53,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>brnn_travel_icon_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,924},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>brnn_travel_icon_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,815},{53,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>brnn_travel_icon_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,438},{56,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,44}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>brnn_travel_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,491},{66,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,59}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>brnn_res.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:779fcd1b621ed302698192072361b8f2$</string>
            <key>textureFileName</key>
            <string>brnn_res.png</string>
        </dict>
    </dict>
</plist>
