<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dzpk_raise_slider_allin.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,50},{88,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,29}}</string>
                <key>sourceSize</key>
                <string>{88,29}</string>
            </dict>
            <key>dzpk_raise_slider_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{209,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,22}}</string>
                <key>sourceSize</key>
                <string>{209,22}</string>
            </dict>
            <key>dzpk_raise_slider_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{104,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,330}}</string>
                <key>sourceSize</key>
                <string>{104,330}</string>
            </dict>
            <key>dzpk_raise_slider_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,22}}</string>
                <key>sourceSize</key>
                <string>{209,22}</string>
            </dict>
            <key>dzpk_raise_slider_thumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{36,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{36,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dzpk_raise_slider.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e9f30ba08c7ebc76895391241936bba$</string>
            <key>textureFileName</key>
            <string>dzpk_raise_slider.png</string>
        </dict>
    </dict>
</plist>
