<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Acard.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,911},{167,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,61}}</string>
                <key>sourceSize</key>
                <string>{169,61}</string>
            </dict>
            <key>Acard_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1003},{167,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,61}}</string>
                <key>sourceSize</key>
                <string>{169,61}</string>
            </dict>
            <key>GameNumBer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{400,187}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{400,187}}</string>
                <key>sourceSize</key>
                <string>{410,231}</string>
            </dict>
            <key>GameWaring.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,319},{400,187}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{400,187}}</string>
                <key>sourceSize</key>
                <string>{410,231}</string>
            </dict>
            <key>GaneSuccent.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{400,187}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{400,187}}</string>
                <key>sourceSize</key>
                <string>{410,231}</string>
            </dict>
            <key>RF_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,508},{306,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,93}}</string>
                <key>sourceSize</key>
                <string>{306,93}</string>
            </dict>
            <key>RF_zi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,481},{306,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,93}}</string>
                <key>sourceSize</key>
                <string>{306,93}</string>
            </dict>
            <key>StartButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,551},{226,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,83}}</string>
                <key>sourceSize</key>
                <string>{226,83}</string>
            </dict>
            <key>StartButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,323},{226,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,83}}</string>
                <key>sourceSize</key>
                <string>{226,83}</string>
            </dict>
            <key>action_allin.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,711},{71,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,38}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
            <key>action_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,751},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{61,32}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
            <key>action_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,608},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{63,32}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
            <key>action_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,815},{31,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{31,30}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
            <key>action_fold.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,688},{61,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{61,32}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
            <key>action_raise.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,543},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{63,32}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
            <key>action_think.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,784},{61,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{61,32}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
            <key>big_blind.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,542},{93,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{93,32}}</string>
                <key>sourceSize</key>
                <string>{103,38}</string>
            </dict>
            <key>cardtype_gaopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,917},{61,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{61,31}}</string>
                <key>sourceSize</key>
                <string>{77,37}</string>
            </dict>
            <key>cardtype_hulu.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,814},{61,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{61,31}}</string>
                <key>sourceSize</key>
                <string>{77,37}</string>
            </dict>
            <key>cardtype_liangdui.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,752},{63,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{63,31}}</string>
                <key>sourceSize</key>
                <string>{77,37}</string>
            </dict>
            <key>cardtype_santiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,822},{63,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{63,31}}</string>
                <key>sourceSize</key>
                <string>{77,37}</string>
            </dict>
            <key>cardtype_shunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,789},{63,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{63,31}}</string>
                <key>sourceSize</key>
                <string>{77,37}</string>
            </dict>
            <key>cardtype_sitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,854},{61,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{61,31}}</string>
                <key>sourceSize</key>
                <string>{77,37}</string>
            </dict>
            <key>cardtype_tonghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,752},{61,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{61,31}}</string>
                <key>sourceSize</key>
                <string>{77,37}</string>
            </dict>
            <key>cardtype_tonghuashun.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,576},{91,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{91,31}}</string>
                <key>sourceSize</key>
                <string>{115,37}</string>
            </dict>
            <key>cardtype_yidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,789},{63,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{63,31}}</string>
                <key>sourceSize</key>
                <string>{77,37}</string>
            </dict>
            <key>cd_bg_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1066},{142,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,141}}</string>
                <key>sourceSize</key>
                <string>{142,141}</string>
            </dict>
            <key>cm_bg_bluechip.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,906},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>cm_bg_redchip.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,877},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>desk_num_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,445},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,34}}</string>
                <key>sourceSize</key>
                <string>{110,34}</string>
            </dict>
            <key>dl_btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1024},{167,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,58}}</string>
                <key>sourceSize</key>
                <string>{169,58}</string>
            </dict>
            <key>dl_btn_cancel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,878},{167,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,58}}</string>
                <key>sourceSize</key>
                <string>{169,58}</string>
            </dict>
            <key>dzchip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,965},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>dzchip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,991},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>dzchip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,965},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>dzchip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,991},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>dzchip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,965},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>dzpk_06_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,508},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>dzpk_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>dzpk_28_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,906},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>dzpk_28_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,877},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>dzpk_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{447,209}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{447,209}}</string>
                <key>sourceSize</key>
                <string>{461,209}</string>
            </dict>
            <key>exit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,844},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>exit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,685},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>exitbutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,609},{226,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,83}}</string>
                <key>sourceSize</key>
                <string>{226,83}</string>
            </dict>
            <key>exitbutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,603},{226,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,83}}</string>
                <key>sourceSize</key>
                <string>{226,83}</string>
            </dict>
            <key>mk_bg_makers.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,673},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>next_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,64},{73,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,46}}</string>
                <key>sourceSize</key>
                <string>{77,48}</string>
            </dict>
            <key>offline.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,139},{43,23}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{43,23}}</string>
                <key>sourceSize</key>
                <string>{59,29}</string>
            </dict>
            <key>ol_bg_bccm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{396,199}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,29},{396,199}}</string>
                <key>sourceSize</key>
                <string>{410,231}</string>
            </dict>
            <key>ol_bg_ckpx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,517}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,517}}</string>
                <key>sourceSize</key>
                <string>{295,517}</string>
            </dict>
            <key>ol_btn_ckpx_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,603},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>ol_btn_ckpx_normal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,243},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>ol_btn_gryz_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,980},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>ol_btn_gryz_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,935},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>ol_btn_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,954},{167,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,61}}</string>
                <key>sourceSize</key>
                <string>{169,61}</string>
            </dict>
            <key>ol_btn_gz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,940},{167,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,61}}</string>
                <key>sourceSize</key>
                <string>{169,61}</string>
            </dict>
            <key>ol_btn_jz.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,877},{167,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,61}}</string>
                <key>sourceSize</key>
                <string>{169,61}</string>
            </dict>
            <key>ol_btn_jz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,855},{167,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,61}}</string>
                <key>sourceSize</key>
                <string>{169,61}</string>
            </dict>
            <key>ol_btn_qp.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,814},{167,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,61}}</string>
                <key>sourceSize</key>
                <string>{169,61}</string>
            </dict>
            <key>ol_btn_qp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,785},{167,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,61}}</string>
                <key>sourceSize</key>
                <string>{169,61}</string>
            </dict>
            <key>ol_btn_qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,751},{167,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,61}}</string>
                <key>sourceSize</key>
                <string>{169,61}</string>
            </dict>
            <key>ol_btn_qx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,688},{167,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,61}}</string>
                <key>sourceSize</key>
                <string>{169,61}</string>
            </dict>
            <key>ol_btn_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,213},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>pi_bg_chipvalue.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1080},{162,61}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{162,61}}</string>
                <key>sourceSize</key>
                <string>{170,63}</string>
            </dict>
            <key>pi_bg_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1003},{142,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{142,142}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>pi_bg_nullplayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,847},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>room_card_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,299},{111,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{111,144}}</string>
                <key>sourceSize</key>
                <string>{113,148}</string>
            </dict>
            <key>room_card_frame_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,779},{63,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,79}}</string>
                <key>sourceSize</key>
                <string>{65,83}</string>
            </dict>
            <key>room_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,213},{417,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,104}}</string>
                <key>sourceSize</key>
                <string>{417,104}</string>
            </dict>
            <key>small_blind.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,508},{93,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{93,32}}</string>
                <key>sourceSize</key>
                <string>{103,38}</string>
            </dict>
            <key>strGame_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,878},{167,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,58}}</string>
                <key>sourceSize</key>
                <string>{169,58}</string>
            </dict>
            <key>strGame_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{167,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,58}}</string>
                <key>sourceSize</key>
                <string>{169,58}</string>
            </dict>
            <key>table_level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,364},{43,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{43,16}}</string>
                <key>sourceSize</key>
                <string>{49,20}</string>
            </dict>
            <key>table_level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,319},{43,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{43,16}}</string>
                <key>sourceSize</key>
                <string>{49,20}</string>
            </dict>
            <key>table_level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,218},{43,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{43,16}}</string>
                <key>sourceSize</key>
                <string>{49,20}</string>
            </dict>
            <key>table_level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,200},{43,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{43,16}}</string>
                <key>sourceSize</key>
                <string>{49,20}</string>
            </dict>
            <key>table_level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,182},{43,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{43,16}}</string>
                <key>sourceSize</key>
                <string>{49,20}</string>
            </dict>
            <key>table_level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,164},{43,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{43,16}}</string>
                <key>sourceSize</key>
                <string>{49,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dzpk.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:463deec560f9c49ba2fa637a27766a1e$</string>
            <key>textureFileName</key>
            <string>dzpk.png</string>
        </dict>
    </dict>
</plist>
