<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish15/fish15_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,511},{208,250}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{208,250}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,251},{206,256}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{206,256}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,511},{206,258}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{206,258}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,251},{206,258}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{206,258}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,511},{206,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{206,256}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,251},{204,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{204,252}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,251},{204,246}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{204,246}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,1},{204,240}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{204,240}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1},{204,232}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{204,232}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1},{204,226}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{204,226}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1},{204,222}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{204,222}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,1},{204,220}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{204,220}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1},{204,220}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{204,220}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1},{204,224}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{204,224}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,1},{204,224}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{204,224}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,511},{206,222}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{206,222}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,251},{206,222}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{206,222}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,251},{206,226}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{206,226}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,251},{206,232}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{206,232}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,251},{206,238}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{206,238}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,511},{208,244}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{208,244}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,511},{208,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{208,246}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,511},{208,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{208,248}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15/fish15_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,511},{208,248}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{208,248}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15_d/fish15_d_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{186,246}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{186,246}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>fish15_d/fish15_d_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,251},{206,248}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{206,248}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>fish15_d/fish15_d_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,1},{204,248}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{204,248}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>fish15_d/fish15_d_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,251},{206,248}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{206,248}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>fish15_d/fish15_d_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,251},{206,248}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{206,248}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>fish15_d/fish15_d_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,251},{206,248}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{206,248}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>fish16/fish16_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,1055},{296,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{296,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,915},{296,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{296,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,915},{296,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{296,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,771},{296,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{296,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1897},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1897},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1477},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,1617},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1757},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1757},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1617},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1617},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1617},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1617},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1617},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1757},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1757},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1897},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,1897},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1897},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,915},{296,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{296,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1055},{296,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{296,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,915},{296,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{296,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16/fish16_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,915},{296,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{296,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish16_d/fish16_d_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,511},{268,142}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{268,142}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish16_d/fish16_d_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,771},{286,138}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{286,138}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish16_d/fish16_d_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,771},{288,136}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{288,136}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish16_d/fish16_d_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,771},{274,138}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{274,138}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish16_d/fish16_d_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,771},{286,138}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{286,138}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish16_d/fish16_d_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,771},{274,138}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{274,138}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish17/fish17_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1055},{296,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{296,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1055},{296,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{296,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,915},{296,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{296,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1195},{296,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{296,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1757},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1897},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,1757},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,1477},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1477},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,1195},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,1195},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1335},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1195},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1477},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1335},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1335},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1335},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,1335},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1477},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1477},{298,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,1055},{296,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{296,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1195},{296,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{296,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1195},{296,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{296,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17/fish17_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1055},{296,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{296,138}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>fish17_d/fish17_d_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,771},{282,142}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{282,142}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish17_d/fish17_d_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,771},{294,140}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{294,140}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish17_d/fish17_d_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1335},{298,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{298,140}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish17_d/fish17_d_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,771},{290,138}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{290,138}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_image3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2399df6da913f5f807957ec897b611d3$</string>
            <key>textureFileName</key>
            <string>fish_image3.png</string>
        </dict>
    </dict>
</plist>
