<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingo/bingo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,362},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bingo/bingo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,564},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bingo/bingo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,564},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bingo/bingo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,362},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bingo/bingo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,564},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bingo/bingo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,362},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bingo/bingo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,564},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bingo/bingo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,766},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bingo/bingo_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,766},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bingo/bingo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,564},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fish41/fish41_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1},{95,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{95,47}}</string>
                <key>sourceSize</key>
                <string>{101,47}</string>
            </dict>
            <key>fish41/fish41_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1},{97,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{97,47}}</string>
                <key>sourceSize</key>
                <string>{101,47}</string>
            </dict>
            <key>fish41/fish41_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1},{99,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,45}}</string>
                <key>sourceSize</key>
                <string>{101,47}</string>
            </dict>
            <key>fish41/fish41_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{101,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{101,41}}</string>
                <key>sourceSize</key>
                <string>{101,47}</string>
            </dict>
            <key>fish41/fish41_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1},{99,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,45}}</string>
                <key>sourceSize</key>
                <string>{101,47}</string>
            </dict>
            <key>fish41/fish41_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1},{97,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{97,47}}</string>
                <key>sourceSize</key>
                <string>{101,47}</string>
            </dict>
            <key>fish41/fish41_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1},{95,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{95,47}}</string>
                <key>sourceSize</key>
                <string>{101,47}</string>
            </dict>
            <key>fish41/fish41_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1},{99,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,47}}</string>
                <key>sourceSize</key>
                <string>{101,47}</string>
            </dict>
            <key>fish41/fish41_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1},{101,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,47}}</string>
                <key>sourceSize</key>
                <string>{101,47}</string>
            </dict>
            <key>fish41/fish41_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1},{101,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,47}}</string>
                <key>sourceSize</key>
                <string>{101,47}</string>
            </dict>
            <key>fish41/fish41_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,50},{101,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,47}}</string>
                <key>sourceSize</key>
                <string>{101,47}</string>
            </dict>
            <key>fish41/fish41_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1},{97,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{97,47}}</string>
                <key>sourceSize</key>
                <string>{101,47}</string>
            </dict>
            <key>net/net2_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,50},{106,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,138},{106,84}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,50},{148,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,131},{148,98}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,50},{192,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,125},{192,110}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,198},{252,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,106},{252,148}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,766},{356,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,59},{356,242}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,198},{260,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,100},{260,158}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,198},{258,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,99},{258,162}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net3_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,50},{104,102}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,127},{104,102}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net3_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,50},{148,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,106},{148,146}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net3_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,362},{192,190}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,84},{192,190}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net3_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,766},{252,250}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,55},{252,250}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net3_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1274},{358,352}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{358,352}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net3_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1274},{260,258}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,50},{260,258}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net3_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1018},{260,254}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,52},{260,254}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net4_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,50},{106,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,126},{106,106}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net4_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,198},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,106},{148,148}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net4_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,362},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,84},{192,192}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net4_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1018},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{252,252}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net4_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1628},{358,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{358,358}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net4_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1274},{260,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,50},{260,260}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net/net4_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1018},{250,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,54},{250,252}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_image6.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5da413b3d2d28b4d7634fd3652c7a3c$</string>
            <key>textureFileName</key>
            <string>fish_image6.png</string>
        </dict>
    </dict>
</plist>
