<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish18/fish18_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{494,234}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{494,234}}</string>
                <key>sourceSize</key>
                <string>{512,304}</string>
            </dict>
            <key>fish18/fish18_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1},{502,236}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,35},{502,236}}</string>
                <key>sourceSize</key>
                <string>{512,304}</string>
            </dict>
            <key>fish18/fish18_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1},{502,236}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{502,236}}</string>
                <key>sourceSize</key>
                <string>{512,304}</string>
            </dict>
            <key>fish18/fish18_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,1},{498,236}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{498,236}}</string>
                <key>sourceSize</key>
                <string>{512,304}</string>
            </dict>
            <key>fish18/fish18_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,239},{496,236}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{496,236}}</string>
                <key>sourceSize</key>
                <string>{512,304}</string>
            </dict>
            <key>fish18/fish18_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,239},{496,234}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{496,234}}</string>
                <key>sourceSize</key>
                <string>{512,304}</string>
            </dict>
            <key>fish18/fish18_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,239},{500,236}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{500,236}}</string>
                <key>sourceSize</key>
                <string>{512,304}</string>
            </dict>
            <key>fish18/fish18_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,239},{502,236}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{502,236}}</string>
                <key>sourceSize</key>
                <string>{512,304}</string>
            </dict>
            <key>fish18/fish18_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,477},{500,234}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,27},{500,234}}</string>
                <key>sourceSize</key>
                <string>{512,304}</string>
            </dict>
            <key>fish18_d/fish18_d_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,477},{494,234}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{494,234}}</string>
                <key>sourceSize</key>
                <string>{512,304}</string>
            </dict>
            <key>fish18_d/fish18_d_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,477},{502,212}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,59},{502,212}}</string>
                <key>sourceSize</key>
                <string>{512,304}</string>
            </dict>
            <key>fish18_d/fish18_d_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,477},{488,238}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{488,238}}</string>
                <key>sourceSize</key>
                <string>{512,304}</string>
            </dict>
            <key>fish20/fish20_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,717},{151,305}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,8},{151,305}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,717},{151,303}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,10},{151,303}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,717},{155,303}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,11},{155,303}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,717},{157,301}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,14},{157,301}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,717},{159,301}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,15},{159,301}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,717},{157,299}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,16},{157,299}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,717},{157,301}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,15},{157,301}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,717},{157,301}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,14},{157,301}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,717},{153,301}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,13},{153,301}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,717},{151,303}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,10},{151,303}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,717},{151,305}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,8},{151,305}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,717},{151,303}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,7},{151,303}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,717},{155,297}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,6},{155,297}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1024},{157,291}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,4},{157,291}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1024},{159,285}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,3},{159,285}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1024},{159,285}}</string>
                <key>offset</key>
                <string>{-11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,3},{159,285}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1024},{159,285}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,3},{159,285}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1024},{159,291}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,5},{159,291}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1024},{155,297}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,8},{155,297}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20/fish20_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1024},{153,303}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,8},{153,303}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1024},{251,299}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{251,299}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,1024},{249,299}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{249,299}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,1024},{241,295}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{241,295}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1329},{231,293}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{231,293}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1329},{223,291}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{223,291}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1329},{219,293}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{219,293}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1329},{223,291}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{223,291}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1329},{231,293}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{231,293}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1329},{239,295}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{239,295}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1329},{247,297}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{247,297}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1329},{251,299}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{251,299}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1630},{247,301}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{247,301}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1630},{235,305}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{235,305}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1630},{221,309}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,5},{221,309}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1630},{207,315}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,5},{207,315}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1630},{203,315}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,5},{203,315}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1630},{207,315}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,5},{207,315}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,1630},{221,307}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,6},{221,307}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1630},{235,303}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,6},{235,303}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d/fish20_d_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1630},{247,301}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{247,301}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_image4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c31950b933ce4597b9d315c26bfc328$</string>
            <key>textureFileName</key>
            <string>fish_image4.png</string>
        </dict>
    </dict>
</plist>
