<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish11/fish11_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1572},{186,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{186,82}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1488},{186,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{186,82}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1429},{186,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{186,82}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1241},{186,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{186,82}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1771},{184,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{184,82}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1617},{184,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{184,82}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1544},{186,78}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{186,78}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1557},{186,74}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{186,74}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1624},{186,70}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{186,70}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1633},{186,68}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{186,68}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1764},{186,66}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{186,66}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1703},{186,66}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{186,66}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1696},{186,66}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{186,66}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1420},{188,66}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{188,66}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1352},{188,66}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{188,66}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1284},{188,66}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{188,66}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1474},{188,68}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{188,68}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1402},{188,70}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{188,70}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1328},{188,72}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{188,72}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,735},{188,76}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{188,76}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1195},{188,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{188,78}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1475},{186,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{186,80}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1268},{186,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{186,82}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11/fish11_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1080},{186,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{186,82}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_d/fish11_d_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,317},{170,178}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{170,178}}</string>
                <key>sourceSize</key>
                <string>{190,200}</string>
            </dict>
            <key>fish11_d/fish11_d_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,497},{180,180}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{180,180}}</string>
                <key>sourceSize</key>
                <string>{190,200}</string>
            </dict>
            <key>fish11_d/fish11_d_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1287},{186,192}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{186,192}}</string>
                <key>sourceSize</key>
                <string>{190,200}</string>
            </dict>
            <key>fish11_d/fish11_d_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,679},{182,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{182,198}}</string>
                <key>sourceSize</key>
                <string>{190,200}</string>
            </dict>
            <key>fish12/fish12_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1855},{156,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{156,156}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>fish12/fish12_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1},{156,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{156,160}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>fish12/fish12_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1832},{156,156}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,156}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>fish12/fish12_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1814},{156,140}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{156,140}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>fish12/fish12_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1614},{156,112}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{156,112}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>fish12/fish12_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1083},{156,92}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,17},{156,92}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>fish12/fish12_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,925},{156,98}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{156,98}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>fish12/fish12_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1456},{156,118}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{156,118}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>fish12/fish12_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1497},{156,142}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{156,142}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>fish12/fish12_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,879},{156,158}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,158}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>fish12/fish12_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,159},{156,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{156,158}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>fish12/fish12_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1037},{156,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{156,156}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>fish12_d/fish12_d_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1641},{142,150}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{142,150}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish12_d/fish12_d_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1814},{148,152}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{148,152}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish12_d/fish12_d_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1656},{154,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{154,156}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish12_d/fish12_d_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1855},{154,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{154,156}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish13/fish13_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,812},{218,84}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,84}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,746},{218,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{218,82}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,735},{218,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{218,84}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,963},{214,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{214,84}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1049},{212,84}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{212,84}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,982},{208,82}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{208,82}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1135},{206,78}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{206,78}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1252},{202,74}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{202,74}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1138},{202,72}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{202,72}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1275},{202,70}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{202,70}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1212},{202,70}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{202,70}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1347},{202,68}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{202,68}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1215},{204,70}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{204,70}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1066},{208,70}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{208,70}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1100},{212,70}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{212,70}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1028},{214,70}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{214,70}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,958},{216,68}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{216,68}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,860},{218,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,18},{218,66}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,830},{218,64}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{218,64}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,901},{218,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{218,60}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,896},{218,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{218,60}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,640},{218,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{218,66}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,821},{218,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{218,78}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13/fish13_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,726},{218,84}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,84}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>fish13_d/fish13_d_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,640},{218,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{218,84}}</string>
                <key>sourceSize</key>
                <string>{220,92}</string>
            </dict>
            <key>fish13_d/fish13_d_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,898},{218,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{218,82}}</string>
                <key>sourceSize</key>
                <string>{220,92}</string>
            </dict>
            <key>fish13_d/fish13_d_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1172},{204,78}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{204,78}}</string>
                <key>sourceSize</key>
                <string>{220,92}</string>
            </dict>
            <key>fish13_d/fish13_d_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1417},{196,78}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{196,78}}</string>
                <key>sourceSize</key>
                <string>{220,92}</string>
            </dict>
            <key>fish14/fish14_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,454},{277,93}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{277,93}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,549},{275,93}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{275,93}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,545},{275,93}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{275,93}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,640},{273,93}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{273,93}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,547},{275,91}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{275,91}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,359},{279,89}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{279,89}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,268},{281,89}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{281,89}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,268},{281,89}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{281,89}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1},{283,87}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{283,87}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,90},{283,85}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{283,85}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,90},{283,85}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{283,85}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,88},{283,85}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{283,85}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1},{283,85}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{283,85}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{283,87}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{283,87}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,177},{281,89}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{281,89}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,177},{281,89}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{281,89}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,175},{281,91}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{281,91}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,359},{279,93}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{279,93}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,350},{279,93}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{279,93}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14/fish14_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,450},{277,93}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{277,93}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14_d/fish14_d_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,644},{251,100}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{251,100}}</string>
                <key>sourceSize</key>
                <string>{285,114}</string>
            </dict>
            <key>fish14_d/fish14_d_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,268},{281,80}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{281,80}}</string>
                <key>sourceSize</key>
                <string>{285,114}</string>
            </dict>
            <key>fish14_d/fish14_d_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,445},{277,100}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{277,100}}</string>
                <key>sourceSize</key>
                <string>{285,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_image2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76b993b9fce0d37a5e439452a1a87b12$</string>
            <key>textureFileName</key>
            <string>fish_image2.png</string>
        </dict>
    </dict>
</plist>
