<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish21/fish21_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1071},{290,240}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{290,240}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21/fish21_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,639},{290,228}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{290,228}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21/fish21_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,837},{292,232}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{292,232}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21/fish21_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1105},{294,232}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{294,232}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21/fish21_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,187},{294,224}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{294,224}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21/fish21_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1},{296,220}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,220}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21/fish21_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,875},{294,230}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{294,230}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21/fish21_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1339},{292,240}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{292,240}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21/fish21_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1345},{294,242}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{294,242}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21/fish21_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1107},{294,236}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{294,236}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21/fish21_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,875},{294,228}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{294,228}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21/fish21_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,157},{294,224}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{294,224}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21/fish21_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,383},{292,224}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{292,224}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21/fish21_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,609},{292,226}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{292,226}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21/fish21_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,413},{290,224}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{290,224}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21_d/fish21_d_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{154,294}}</string>
                <key>offset</key>
                <string>{-9,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,161},{154,294}}</string>
                <key>sourceSize</key>
                <string>{500,480}</string>
            </dict>
            <key>fish21_d/fish21_d_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1},{184,396}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,59},{184,396}}</string>
                <key>sourceSize</key>
                <string>{500,480}</string>
            </dict>
            <key>fish21_d/fish21_d_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,223},{204,422}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,33},{204,422}}</string>
                <key>sourceSize</key>
                <string>{500,480}</string>
            </dict>
            <key>fish21_d/fish21_d_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,651},{222,432}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,23},{222,432}}</string>
                <key>sourceSize</key>
                <string>{500,480}</string>
            </dict>
            <key>fish21_d/fish21_d_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,429},{220,430}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,25},{220,430}}</string>
                <key>sourceSize</key>
                <string>{500,480}</string>
            </dict>
            <key>fish21_d/fish21_d_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1683},{450,338}}</string>
                <key>offset</key>
                <string>{14,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,117},{450,338}}</string>
                <key>sourceSize</key>
                <string>{500,480}</string>
            </dict>
            <key>fish21_d/fish21_d_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1589},{434,314}}</string>
                <key>offset</key>
                <string>{-14,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,141},{434,314}}</string>
                <key>sourceSize</key>
                <string>{500,480}</string>
            </dict>
            <key>fish21_d/fish21_d_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1345},{422,336}}</string>
                <key>offset</key>
                <string>{38,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,119},{422,336}}</string>
                <key>sourceSize</key>
                <string>{500,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_image7.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8555dff5bd557b7faee9302741ac0e32$</string>
            <key>textureFileName</key>
            <string>fish_image7.png</string>
        </dict>
    </dict>
</plist>
