<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_bg_chat_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1127},{280,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,62}}</string>
                <key>sourceSize</key>
                <string>{280,62}</string>
            </dict>
            <key>ddz_bg_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,724},{647,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{647,401}}</string>
                <key>sourceSize</key>
                <string>{647,401}</string>
            </dict>
            <key>ddz_bg_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1127},{890,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{890,97}}</string>
                <key>sourceSize</key>
                <string>{890,97}</string>
            </dict>
            <key>ddz_bg_player_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1226},{306,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,182}}</string>
                <key>sourceSize</key>
                <string>{306,182}</string>
            </dict>
            <key>ddz_bg_popups.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{647,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{647,401}}</string>
                <key>sourceSize</key>
                <string>{647,401}</string>
            </dict>
            <key>ddz_bg_small_card_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1191},{78,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,104}}</string>
                <key>sourceSize</key>
                <string>{78,104}</string>
            </dict>
            <key>ddz_bg_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>ddz_bg_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1628},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>ddz_btn_again_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1865},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_again_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1613},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_bujiao_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1361},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_bujiao_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,1613},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_buqiang_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,1361},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_buqiang_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1613},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_buy_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,1849},{74,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,51}}</string>
                <key>sourceSize</key>
                <string>{74,51}</string>
            </dict>
            <key>ddz_btn_buy_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1271},{74,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,51}}</string>
                <key>sourceSize</key>
                <string>{74,51}</string>
            </dict>
            <key>ddz_btn_cancel_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1361},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_cancel_robot_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1276},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_cancel_robot_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1900},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_cancel_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1906},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_change_table_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1191},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_change_table_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1648},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_chat_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,1354},{73,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{73,72}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>ddz_btn_detail_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1396},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_detail_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1648},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_jiaodizhu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1648},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_jiaodizhu_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1821},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_not_redouble_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1736},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_not_redouble_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1396},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_ok_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1651},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_ok_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1396},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_open_card_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1566},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_open_card_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1481},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_open_start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1396},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_open_start_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1662},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_out_card_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1410},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_out_card_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1920},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_pass_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1835},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_pass_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1750},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_pull_tab_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,1428},{66,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{66,82}</string>
            </dict>
            <key>ddz_btn_pull_tab_front_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1950},{66,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{66,82}</string>
            </dict>
            <key>ddz_btn_qiangdizhu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1665},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_qiangdizhu_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1311},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_quit_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,1716},{71,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{71,62}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>ddz_btn_redouble_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1580},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_redouble_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1226},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_robot_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1914},{79,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,72}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>ddz_btn_setting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,1780},{67,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{67,68}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>ddz_btn_start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1311},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_start_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1495},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_task_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1827},{51,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{51,62}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>ddz_btn_tips_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1226},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_btn_tips_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{250,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,83}}</string>
                <key>sourceSize</key>
                <string>{250,83}</string>
            </dict>
            <key>ddz_img_text_bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1944},{109,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,62}}</string>
                <key>sourceSize</key>
                <string>{109,62}</string>
            </dict>
            <key>ddz_img_text_buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1880},{109,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,62}}</string>
                <key>sourceSize</key>
                <string>{109,62}</string>
            </dict>
            <key>ddz_img_text_jiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1716},{109,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,62}}</string>
                <key>sourceSize</key>
                <string>{109,62}</string>
            </dict>
            <key>ddz_img_text_jiaodizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1522},{164,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{164,61}}</string>
                <key>sourceSize</key>
                <string>{166,61}</string>
            </dict>
            <key>ddz_img_text_liandui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1688},{153,60}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{153,60}}</string>
                <key>sourceSize</key>
                <string>{199,84}</string>
            </dict>
            <key>ddz_img_text_mingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1512},{109,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,62}}</string>
                <key>sourceSize</key>
                <string>{109,62}</string>
            </dict>
            <key>ddz_img_text_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1517},{109,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,62}}</string>
                <key>sourceSize</key>
                <string>{109,62}</string>
            </dict>
            <key>ddz_img_text_qiangdizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1354},{166,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,61}}</string>
                <key>sourceSize</key>
                <string>{166,61}</string>
            </dict>
            <key>ddz_img_text_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1127},{109,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,62}}</string>
                <key>sourceSize</key>
                <string>{109,62}</string>
            </dict>
            <key>ddz_img_text_sanshun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1276},{165,76}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{165,76}}</string>
                <key>sourceSize</key>
                <string>{199,84}</string>
            </dict>
            <key>ddz_img_text_shunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1950},{199,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{199,82}}</string>
                <key>sourceSize</key>
                <string>{199,84}</string>
            </dict>
            <key>ddz_text_beishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1354},{161,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,59}}</string>
                <key>sourceSize</key>
                <string>{161,59}</string>
            </dict>
            <key>ddz_text_difen.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1226},{74,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,43}}</string>
                <key>sourceSize</key>
                <string>{76,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_resources.png</string>
            <key>size</key>
            <string>{1300,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af63c82cb6de9eced622c22109962bde:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_resources.png</string>
        </dict>
    </dict>
</plist>
