<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{132,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,178}}</string>
                <key>sourceSize</key>
                <string>{132,178}</string>
            </dict>
            <key>ddz_poker_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{132,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,178}}</string>
                <key>sourceSize</key>
                <string>{132,178}</string>
            </dict>
            <key>ddz_poker_lord_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>ddz_poker_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,178}}</string>
                <key>sourceSize</key>
                <string>{132,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_pokers_img.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91c92d4f78ad3e74970d4631bbcbb20d:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_pokers_img.png</string>
        </dict>
    </dict>
</plist>
