<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poker_card_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,136},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,270},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,404},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,538},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,672},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,806},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,136},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,270},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,404},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,538},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,672},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,806},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,136},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,270},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,404},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,538},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,672},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,806},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,136},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,270},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,404},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,538},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,672},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,806},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,136},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,270},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,404},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,538},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,672},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,136},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,270},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,404},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,538},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,136},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,270},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,404},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,136},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,270},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,136},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>poker_card_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_poker_card.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7bb70be1689b24f3670b06d55cb1d66$</string>
            <key>textureFileName</key>
            <string>common_poker_card.png</string>
        </dict>
    </dict>
</plist>
